body {
    background: orange;
}

#wrapper {
    text-align: center;
    background: rgb(65, 18, 65);
    color: white;
    padding: 30px;
    display: grid;
    grid-template-columns: 20% 70%;
}

main {
    display: grid;
    gap: 20px;
    place-items: center;
}

section {
    width: 100%;
    text-align: center;
    border: 5px solid orange;
    border-radius: 30px;
    padding: 10px;
}

ul {
    padding-top: 100px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    font-size: 2em;
    font-family: 'Lucida Console';
}

img {
    justify-content: center;
    border: 4px solid black;
    box-shadow: 1px 1px 30px orange;

}

footer {
    grid-column-start: 2;
    padding-top: 20px;
}

h1 {
    font-size: 50px;
    font-family: 'Lucida Handwriting';
    text-shadow: 1px 1px 5px black;
}

h2 {
    font-family: 'Lucida Console';
}

p {
    font-size: 1.2em;
}