body {
    background: #F5F0E6;
        }
header img {
    width: 178px;
    float: left;
        }
header {
    background: url("../images/mountains.jpg");
    height: 178px; 
}
header h1 {
    font-size: 3em;
    color: #F5F0E6;
    float: left;
    margin: 50px 80px 50px 112px
}

nav {
    background: pink;
    clear: both;
    width: 100%;
    height: 50px;
    text-align: center;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);

    font-family: Arial, Helvetica, sans-serif;
    border-top: 3px solid black;
    border-bottom: 5px solid black;
    box-sizing: border-box;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    min-width: 100px;
}

nav a:hover {
    background: green;
    text-shadow: 4px 4px 2px pink;
}

 #wrapper {
    width: 900px;
    height: 1000px;
    background: maroon;
    margin: auto;
    border: #000000 solid 5px;
    border-radius: 20px;
    overflow: hidden;
    display: grid; 
        }

section {
    background: #a4c639;
    width: 40%;
    height: 300px;
}

footer {
    clear: both;
    background: url("../images/mountains.jpg") 0px 948px;
    border-top: 3px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

footer li {
    list-style-type: none;
}

footer p {
    align-content: center;
}

footer li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    min-width: 100px;
    display: flex;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 150px;
}

#ads {
    width: 250px;
    border: 3px solid black;
    position: fixed;
    right: -240px;
    background: pink;
    transition: right .75s ease-out;
}

#ads form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

#ads:hover {
    right: 0px;
    transition: right .85s ease-in;
}
